<div class="product-item row">
  <div class="col-md-2">
    <img class="img-thumbnail" src="../../../assets/download.svg"/>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="product-item-title col-md-12">
        Lorem ipsum dolor sit amet, consectetur
      </div>
      <div class="product-item-price col-md-12">
        RD$ 0.0
      </div>
      <br /><br />
      <div class="col-md-9">
        Condicion: Nuevo
      </div>
      <div class="col-md-3">
        Hace 20 minutos
      </div>
      <div class="col-md-9">
        Ubicacion: Santo Domingo
      </div>
      <div class="col-md-3">
        ususario
      </div>
    </div>
  </div>
</div>
