<form>
  <div class="form-group">
    <label>Nombre de usuario</label>
    <input class="form-control" id="user_name" name="user_name" type="text" [(ngModel)]="loginData.UserName" placeholder="Introduzca el nombre de usuario" />
  </div>
  <div class="form-group">
    <label>Contraseña</label>
    <input class="form-control" id="password" name="password" type="password" [(ngModel)]="loginData.Password" placeholder="Introduzca la contraseña" />
  </div>
  <button class="btn btn-primary" (click)="onLogin()">Iniciar Seccion</button>
  <button class="btn btn-secundary" (click)="socialSignIn('facebook')">Iniciar con FB</button>
</form>

<div class="">

</div>
